@import '../../styles/variables';

:local(.component) {
    padding: 20px;
    min-height:100vh;
    display: flex;
    @media (pointer: coarse) {
        display: block;
    }
    flex-direction: column;
    background: $lighter-green;
    padding-bottom: 40px;
}
