@import '../../../styles/colors';

:local(.component) {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    .text {
        &.white {
            color: white;
        }
        &.grey {
            color: $darker-grey;
        }

        &.light-grey {
            color: $light-grey;
        }
    }
}
