@import '../../styles/variables';

:local(.component) {
    color: $darker-grey;
    padding: 20px;
    min-height:100vh;
    display: flex;
    @media (pointer: coarse) {
        display: block;
    }
    flex-direction: column;
    background: $light-grey;

    .status {
        line-height: 1;
        font-size : 1.5em;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .more-infos {
        margin-bottom: 20px;
        .subtitle {
            text-align:center;
            font-size: 1.8em;
            margin-bottom: 30px;
        }
        @import './sub_experience/style';

        .end {
            .images {
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap:wrap;
                img {
                    border-radius: 5px;
                    align-self: center;
                    margin-bottom: 10px;
                }
            }
        }
    }


}
