@import '../../styles/variables';

:local(.component) {
    color: $darker-grey;
    padding: 20px;
    min-height:100vh;
    display: flex;
    @media (pointer: coarse) {
        display: block;
    }
    flex-direction: column;
    background: $grey;

    .appartoo-dates {
        @media (max-width: $breakpoint){
            bottom: -33px;
            left: 0;
        }
    }

    .more-infos {
        margin-top: 20px;
        .subtitle {
            font-size: 1.5em;
        }
    }

    .experience {
        margin-top: 15px;
        display: flex;
        align-items: center;
        @media (max-width: $breakpoint){
            flex-direction: column-reverse;
        }
        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 2;
            height: inherit;
            .appartoo-logo {
                width: 50vw;
                max-width: 350px;
            }
        }

        .content {
            flex: 4;
            margin:0;
            font-size: 1.2em;
            .text {
                margin-top: 10px;
            }
        }

        .status {
            line-height: 1;
            font-size : 1.5em;
            margin-bottom: 15px;
        }
    }


}
