@import 'variables';
html {
    background: $light-grey;
}
:local(.component) {
    background: $light-grey;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .cards-container {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .subtitle-icon {
        padding-top: 5px;
    }

    .disable-scroll {
        @media (max-width: 760px){
            position:fixed;
            overflow-y: hidden;
        }
    }
}
