@import 'variables';

html {
    line-height:1.15;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.4285em;
    margin:0;
    padding:0;
}

a {
    color: $green;
    text-decoration: none;
}

a:hover {
    color: $green-hover;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

:local(.component) {
    background: $light-grey;

    h1, h2, h3, h4, h5 {
        line-height: 1.28571429em;
        font-weight: 500;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .cards-container {
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .subtitle-icon {
        padding-top: 5px;
    }


    .disable-scroll {
        @media (max-width: 760px){
            position:fixed;
            overflow-y: hidden;
        }
    }

}
