$green: #9be795;
$lighter-green: lighten($green, 5);
$light-green: lighten($green, 10);
$green-hover: darken($green, 10);
$green-active: darken($green, 15);

$dark-grey: #a1a1a1;
$darker-grey: #646464;

$grey: #d4d4d4;
$grey-hover: #c4c4c4;
$grey-active: #b4b4b4;

$light-grey: #f0f0f0;

$breakpoint: 760px;
$dimmer-color: rgba(0 ,0 ,0 , 0.7);
