@import '../../styles/colors';

:local(.component) {
    padding: 20px;
    min-height:100vh;
    display: flex;
    padding-bottom: 100px;
    @media (pointer: coarse) {
        display: block;
    }
    flex-direction: column;
    background: $light-green;
    -webkit-clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0 100%);
    clip-path: polygon(0 0%, 100% 5%, 100% 95%, 0 100%);
}
