@import '../../../styles/variables';

:local(.component) {
    display: flex;
    flex: 0 0 100%;
    height: 100%;
    margin-bottom: 25px;

    .wrapper:before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px;
    }

    .wrapper {
        display:block;
        position:relative;
        width: 100%;
    }

    .wrapper-white {
        @extend .wrapper;
        color: white;
    }
    .wrapper-white:before {
        @extend .wrapper:before;
        background: white;
    }

    .wrapper-grey {
        @extend .wrapper;
        color: $darker-grey;
    }
    .wrapper-grey:before {
        @extend .wrapper:before;
        background: $darker-grey;
    }

    .more {
        font-size: 0.6em;
        position: absolute;
        font-weight: 100;
        bottom: -3px;
        right: 0;
        @media (max-width: $breakpoint){
            bottom: -33px;
            left: 0;
        }
    }
}
