@import '../../../styles/variables';

:local(.component) {
    width: 200px;
    background-color: $grey;
    color: $darker-grey;
    font-size: 0.7em;
    text-align: center;
    padding: 5px 0;
    padding-bottom: 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    &.visible {
        transition: opacity 0.4s ease;
        opacity: 1;
    }
    &.hidden {
        display:none;
        transition: opacity 0.4s ease;
        opacity: 0;
    }
}
:local(.component):after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $grey transparent transparent;
}
