@import '../../styles/variables';

:local(.component) {
    padding-bottom: 20px;
    min-height:100vh;
    padding-top: 40px;
    margin-left: 15%;
    margin-right: 15%;

    .flex-container {
        display: flex;
        @media (pointer: coarse) {
            display: block;
        }
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $light-grey;
    }

    .logo {
        height: 240px;
        box-shadow: $box-shadow-border;
    }

    .title {
        color: $darker-grey;
        margin-bottom:10px;
    }

    .subtitle {
        font-size: 2em;
        line-height: 1;
        color: $dark-grey;
    }

    .about {
        flex-basis:100%;
        margin-top: 10px;
        font-size: 1.5em;
        color: $dark-grey;
        margin-bottom: 15px;
        line-height: 1.2;
        text-align: justify;
    }

    .tags {
        margin-top: 10px;
        flex-direction: row-reverse;
    }
}
