@import '../../styles/colors';

:local(.component) {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $light-grey;
    padding-bottom: 20px;

    .logo {
        height: 250px;
    }

    .about {
        margin-bottom: 15px;
        margin-left: 200px;
        margin-right: 200px;
    }

    .quote {
        text-align: right;
    }
}
