@import '../../styles/colors';

:local(.component) {
    padding-top: 20px;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $light-grey;
    padding-bottom: 20px;

    .logo {
        height: 250px;
    }

    .title {
        margin-bottom: 0;
    }

    .subtitle {
        font-size: 2em;
    }

    .about {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .buttons {
        text-align:center;
    }
}
