@import '../../../styles/variables';

:local(.component) {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    .divider {
        border-top: 1px solid rgba(34,36,38,.15);
        border-bottom: 1px solid rgba(255,255,255,.1);
        &.full-width {
            width: 100%;
        }
        &.half-width {
            width: 50%;
        }
    }
}
