@import '../../../styles/variables';

:local(.component) {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: 135px;
    width: 135px;
    justify-content: center;
    vertical-align: middle;
    border-radius: 5px;
    box-shadow: 0px 1px 2px $grey;
    margin: 5px 0;

    .image {
        text-align: center;
        position:relative;
        margin: 0px 10px;
        margin-top: 10px;
        height: 85px;
        width: 85px;
        img {
            position:absolute;
            top: 50%;
            left:50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .text {
        color: $darker-grey;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

:local(.component):hover {
    transition: all 0.6s ease;
    transform: translateY(-1px);
    box-shadow: 0px 5px 20px $grey;
}
