@import '../../../styles/colors';

:local(.component) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    
    .tag {
        font-size: 12px;
        display:flex;
        vertical-align: center;
        border: solid 2px $green;
        border-radius: 20px;
        color: $green-active;
        padding: 5px 15px;
        margin-right: 5px;
        margin-bottom:5px;

        .hashtag {
            color: $green;
            padding-right: 5px;
        }
    }
}
