@import '../../../styles/variables';

:local(.component) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;

    .tag {
        line-height: 1.1;
        font-size: 12px;
        display:flex;
        border: solid 2px $green;
        border-radius: 20px;
        color: $green-active;
        padding: 5px 15px;
        margin-right: 5px;
        margin-bottom:5px;

        .hashtag {
            color: $green;
            padding-right: 5px;
        }

        &.inverted {
            color: white;
            background: $green;
            .hashtag {
                color: white;
            }
        }
    }
}
