@import '../../../styles/variables';

:local(.component) {
    @media (max-width: $breakpoint) {
        color: $darker-grey;
        background: white;
        margin: 15px;
        border-radius: 5px;
    }

    .mobile {
        @media (min-width: $breakpoint) {
            display:none;
        }
        padding-left:15px;
        padding-right:15px;
    }
    .mobile-title {
        @extend .mobile;
        padding-top:15px;
        font-size: 2em;
        text-align: center;
    }
    .mobile-text {
        @extend .mobile;
    }
    .mobile-tags {
        @extend .mobile;
        padding: 15px;
    }
    .mobile-view-code {
        @extend .mobile;
        .icon {
            position: relative;
            top: 2px;
        }
        padding-bottom: 5px;
        float:right;
        padding-right: 5px;
    }

    .container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0px 1px 2px $grey;
        margin: 15px 0;
        position: relative;
        width: 90vw;
        height: 30vw;

        @media (max-width: $breakpoint) {
            border-radius:0;
            box-shadow: none;
            padding:15px;
            height: 40vh;
        }

        .card {
            border-radius: 5px;
            background-repeat: no-repeat;
            //background-position: left;
            background-size: cover;
            height:100%;
            width: 100%;
        }

        .dimmer {
            @media (max-width: $breakpoint) {
                display:none;
            }
            transition: all 0.6s ease;
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background: $dimmer-color;
            color: white;
            visibility: none;
            opacity: 0;
            .title {
                position: absolute;
                top: 10px;
                font-size: 2em;
                height: 25%;
                overflow: hidden;
            }
            .text {
                width:100%;
                height: 50%;
                overflow:hidden;
                padding: 15px;
                text-align: center;
            }
            .bottom {
                height: auto;
                overflow: hidden;
                position:absolute;
                bottom: 0;
                display: flex;
                flex-direction: row;
                padding: 10px;
                padding-bottom: 5px;
                align-items: flex-end;
                width: 100%;
                .right {
                    cursor: pointer;
                    .icon {
                        position: relative;
                        top: 2px;
                    }
                    .view-code {
                        margin-bottom: 5px;
                    }
                }
                .left {
                    flex:1;
                    .tags {
                        flex-wrap: wrap-reverse;
                    }
                }
            }
        }
    }

    .container:hover {
        @media (min-width: $breakpoint){
            transition: all 0.6s ease;
            transform: translateY(-1px);
            box-shadow: 0px 5px 20px $dimmer-color;
        }
    }

    .container:hover .card {
        @media (min-width: $breakpoint) {
            transition: all 0.6s ease;
            filter: blur(2px);
        }

    }

    .container:hover .dimmer {
        @media (min-width: $breakpoint) {
            transition: all 0.6s ease;
            visibility: visible;
            opacity: 1;
        }
    }
}
