@import '../../../styles/variables';

:local(.component) {
    @media (max-width: $breakpoint) {
        color: $darker-grey;
        background: white;
        margin: 15px;
        border-radius: 5px;
    }

    .mobile {
        padding-left: 15px;
        padding-right: 15px;
        .mobile-title {
            padding-top:15px;
            font-size: 2em;
            text-align: center;
            line-height: 1;
        }
        .mobile-img {
            margin-top: 10px;
            box-shadow: $box-shadow-border;
            position:relative;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;

        }
        .mobile-text {
            padding-top: 10px;
        }
        .mobile-tags {
            padding-top: 10px;
        }
        .mobile-view-code {
            padding-top: 10px;
            .icon {
                position: relative;
                top: 2px;
            }
            padding-bottom: 5px;
            float:right;
            padding-right: 5px;
        }

    }

    .laptop {
        box-shadow: 0px 1px 2px $grey;
        margin: 15px 0;
        position: relative;
        width: 90vw;
        height: 100%;
        .card {
            min-height: 30vw;
            height:100%;
            width: 100%;
        }

        .img {
            position:absolute;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .dimmer {
            transition: all 0.6s ease;
            position: relative;
            width:100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 5px;
            background: $dimmer-color;
            color: white;
            opacity: 0;
            .title {
                font-size: 2em;
                margin-top: 10px;
            }
            .text {
                padding: 15px;
                align-self: center;
            }
            .bottom {
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                width: 100%;
                .right {
                    padding-right: 15px;
                    cursor: pointer;
                    .icon {
                        position: relative;
                        top: 2px;
                    }
                    .view-code {
                        margin-bottom: 5px;
                    }
                }
                .left {
                    flex:1;
                    .tags {
                        padding-left: 15px;
                        flex-wrap: wrap-reverse;
                    }
                }
            }
        }
    }

    .laptop:hover {
        transition: all 0.6s ease;
        transform: translateY(-1px);
        box-shadow: 0px 5px 20px $dimmer-color;
    }

    .laptop:hover .img {
        transition: all 0.6s ease;
        filter: blur(2px);
    }

    .laptop:hover .dimmer {
        transition: all 0.6s ease;
        opacity: 1;
    }
}
