@import '../../../styles/variables';

:local(.component) {
    display:flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 1px 2px $grey;
    margin: 5px 0;
    position: relative;
    height: 300px;
    width: 600px;
    overflow:hidden;

    .card {
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height:100%;
        width: 100%;
    }

    .dimmer {
        transition: all 0.6s ease;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background: $dimmer-color;
        color: white;
        visibility: none;
        opacity: 0;
        .title {
            position: absolute;
            top: 10px;
            font-size: 2em;
        }
        .bottom {
            position:absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;
            padding: 10px;
            padding-bottom: 5px;
            align-items: flex-end;
            .right {
                cursor: pointer;
                .icon {
                    position: relative;
                    top: 2px;
                }
                .view-code {
                    margin-bottom: 5px;
                }
            }
            .left {
                flex:1;
                .tags {
                    flex-wrap: wrap-reverse;
                }
            }
        }
    }
}

:local(.component):hover {
    transition: all 0.6s ease;
    transform: translateY(-1px);
    box-shadow: 0px 5px 20px $dimmer-color;
}

:local(.component):hover .card {
    transition: all 0.6s ease;
    filter: blur(2px);
}

:local(.component):hover .dimmer {
    transition: all 0.6s ease;
    visibility: visible;
    opacity: 1;
}
