@import '../../../styles/colors';

$breakpoint: 760px;

:local(.component) {
    color: $green;
    position: fixed;
    display: flex;
    left: 5px;
    padding: 5px 10px;
    flex: 0 0 100px;

    .mobile-menu {
        @media (min-width: $breakpoint){
            display: none;
        }

        .hamburger {
            cursor: pointer;
        }

        .menu {
            transition: left 0.6s ease;
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: $light-green;

            &.show {
                left: 0;
            }

            &.hide {
                left: -120vw;
            }
        }
    }

    .laptop-menu {
        @media (max-width: $breakpoint){
            display: none;
        }

        .logo {
            height: 25px;
            cursor: pointer;
            position: fixed;
        }

        .nav {
            margin-left: 25px;
            display: flex;
        }
    }
}
