@import '../../../styles/colors';

@mixin underline($color, $width, $right) {
    transition: width 0.4s ease;
    position: absolute;
    content: '';
    bottom: -5px;
    width: $width;
    height: 2px;
    background: $color;
    right: $right;
    overflow: hidden;
}

:local(.component) {
    color: $green;
    position: fixed;
    display: flex;
    right: 5px;
    padding: 5px 10px;
    flex: 0 0 100px;

    .lang {
        transition: all 0.4s ease;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;

        .content:before {
            @include underline($green, 0px, -0px);
        }

        &.selected {
            color: $green-active;
            .content:before {
                @include underline($green-active, 100%, auto);
            }
        }
    }

    /* don't apply hover effect on touch screens */
    @media(pointer: fine){
        .lang:hover {
            color: $green-hover;
            .content:before {
                @include underline($green-hover, 100%, auto);
            }
        }
    }
}
