@import '../../../styles/variables';

:local(.component) {
    transition: all 0.4s ease;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: $green;
    font-size: 1.5em;
    position: relative;
    border-radius: 5px;
    width: 240px;
    height: 40px;
    color: white;
    cursor: pointer;

    .mail {
        position:absolute;
        text-align:center;
        width:100%;
        top: 8px;
        opacity: 0;
        font-size: 0.8em;
    }
    .contact {
        transition: all 0.4s ease-in;
        position:absolute;
        width:100%;
        top: 8px;
        left:0;
    }
}

:local(.component):hover {
    border-radius: 20px;
    transition: all 0.4s ease;
}

:local(.component):hover .contact {
    .icon {
        display: none;
    }
    font-size: 0.8em;
    transition: all 0.4s ease-in;
    left:0;
    top: -25px;
    left: -85px;
    color: $darker-grey;
}

:local(.component):hover .mail {
    opacity: 1;
    transition: all 0s ease;
    transition-delay: 0.4s;
}
