@import '../../../styles/variables';

:local(.component) {
    transition: all 0.4s ease;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: $green;
    font-size: 1.5em;
    position: relative;
    width: 240px;
    height: 40px;
    color: white;
    cursor: pointer;

    .mail {
        position:absolute;
        text-align:center;
        width:100%;
        top: 8px;
        opacity: 0;
        font-size: 0.8em;
        line-height: 1.5;
    }
    .contact {
        line-height: 1;
        transition: all 0.4s ease-in;
        position:absolute;
        width:100%;
        top: 8px;
        left:0;
        .icon {
            transition: opacity 0s ease;
            transition-delay: 0.4s;
        }
    }

    .tooltip {
        width: 200px;
        background-color: $grey;
        color: $darker-grey;
        font-size: 0.7em;
        text-align: center;
        padding: 5px 0;
        padding-bottom: 8px;
        border-radius: 5px;
        position: absolute;
        z-index: 1;
        top: 5px;
        left: 105%;
        &.visible {
            transition: opacity 0.4s ease;
            opacity: 1;
        }
        &.hidden {
            display:none;
            transition: opacity 0.4s ease;
            opacity: 0;
        }
    }
    .tooltip:after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $grey transparent transparent;
    }
}

:local(.component):hover {
    border-radius: 20px;
    transition: all 0.4s ease;
}

:local(.component):hover .contact {
    .icon {
        opacity: 0;
        transition: opacity 0s ease;
        transition-delay: 0s;
    }
    font-size: 0.8em;
    transition: all 0.4s ease-in;
    left:0;
    top: -25px;
    left: -80px;
    color: $darker-grey;
}

:local(.component):hover .mail {
    opacity: 1;
    transition: all 0s ease;
    transition-delay: 0.4s;
}
